body {
    padding-top: 60px;
}
.navbar {
    background-color: #2d8413; 
}
nav-item

@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: #2d8413; 
        padding: 1rem 1.5rem;
        margin-top: 0.5rem;
        border-radius: 0.3rem;
    }

    .navbar-collapse .nav-link {
        color: white !important;
    }

    .navbar-collapse .nav-link:hover {
        color: #adb5bd !important;
    }
}